<%= simple_form_for(@clinic) do |f| %>
  <% if @clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
      <% @clinic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name,  :class => "span12", :placeholder => "Introduza o nome da clinica", :required => true %>
    </div>
    <div>
      <%= f.label :address, "Morada" %>
      <%= f.text_field :address, :class => "span12", :placeholder => "Introduza a morada da clinica", :required => true  %>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= f.label :telephone, "Telefone" %>
        <%= f.text_field :telephone, :class => "span12", :placeholder => "2XXXXXXXX" %>
      </div>
     </div>
     <div class="row-fluid">
      <div class="span6">
        <%= f.label :mobilephone, "Telemóvel do Gestor" %>
        <%= f.text_field :mobilephone, :class => "span12", :placeholder => "9XXXXXXXX" %>
      </div>
      <div class="span6">
        <%= f.label :email, "Email do Gestor" %>
        <%= f.text_field :email, :class => "span12", :placeholder => "example@neuropump.com", :required => true, :type => "email"  %>
      </div>
     </div>
    <div>
      <%= f.label :fiscal_number, "NIF" %>
      <%= f.text_field :fiscal_number, :class => "span12", :placeholder => "1XXXXXXXX", :required => true, :type => "number"  %>
    </div>
    

  <% if @pageType == "new" %>
  <style type="text/css" media="screen">
   table { border: 0px solid black;float:left;width:100%;}
   .table_container{width:200px;margin:0 auto;float:left;}
  </style>

  
  <% @packages.each do |p| %>
  <div class="table_container">
    <table border = "1">
      <tr> <th>
          <%= p.name %>
        </th> 
      </tr>
      <tr> <td>
          Preço: <%= p.price %>
        </td> 
      </tr>
      <tr> <td>
          Sessões por Semana:
          <%if p.n_appointments == -1 %>
          <%= "Illimitado" %>
          <%elsif%>
          <%= p.n_appointments %>
          <%end%>

        </td> 
      </tr>
      <tr> <td>
          Exercícios:
          <%if p.n_exercises == -1 %>
          <%= "Illimitado" %>
          <%elsif%>
          <%= p.n_exercises %>
          <%end%>
        </td> 
      </tr>
      <tr> <td>
          Avaliações:
          <%if p.n_evaluations == -1 %>
          <%= "Illimitado" %>
          <%elsif%>
          <%= p.n_evaluations %>
          <%end%>
        </td> 
      </tr>
    </table>
    <input type="radio" value = "<%= p.id %>" id = "<%= p.id %>" name= "packageType" required />
  </div>
  <%end%>

<% elsif current_login.has_role? :manager %>
  <div>
    <%= link_to 'Alterar Subscrição',{:controller => "clinics", :action => "changePackage" }, :class => "btn btn-primary span3 offset05 pull-left" %>
  </div>
<% end %>

      <div>
        <%= submit_tag "Submeter", :class => "btn btn-success span2 offset05 pull-right", :style => "margin-left: 10px;" %>
      </div>
      <div>
        <%= button_tag "Reverter", :class => "btn btn-warning span2 pull-right", :type => "reset" %>
      </div>


  <% end %>


