<%= simple_form_for(@clinic) do |f| %>
  <% if @clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
      <% @clinic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="span12">
        <form>
            <fieldset>
                <div>
                	<label>Nome</label>
    				<%= f.text_field :name, :onfocus => "alertas()", :id => "name", :class => "span12", :type => "text", :placeholder => "ex: Sérgio Barbosa" %>
                    </div>
                <div>
                	<label>Morada</label>
    				<%= f.text_field :address, :onfocus => "alertas()", :id => "address", :class => "span12", :type => "text", :placeholder => "ex: Rua da Bouça" %>
                </div>
				<div>
                    <label>NIF</label>
                    <%= f.text_field :fiscal_number, :onfocus => "alertas()", :id => "fiscal_number", :class => "span12", :type => "text", :placeholder => "ex: 123456789" %>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <label>Telefone</label>
                        <%= f.text_field :telephone, :maxlength=>"8", :onfocus=>"alertas()", :id=>"telefone", :class=>"span12", :type=>"text", :placeholder=>"ex: 91203492" %>
                    </div>
                    <div class="span6">
						<label>Email</label>
						<%= f.text_field :email, :onfocus=>"alertas()", :id=>"email", :class=>"span12", :type=>"text", :placeholder=>"ex: example@neuropump.com"%>
                    </div>
                </div>
                <br>
                <div>
                    <%= f.submit :Submeter, :type=>"submit", :class=>"btn span2 offset05 pull-right"%>
                </div>
                <div>
                    <%= button_to_function "Limpar", "limpaDados()", :class=>"btn span2 pull-right" %>
                </div>
            </fieldset>
          </form>
    </div>
<% end %>
