
<h2>Mudar Subscrição</h2>

<p>Atenção, so pode alterar o seu subscrição para um superior</p>

<style type="text/css" media="screen">
   table { border: 0px solid black;float:left;width:100%;}
   .table_container{width:200px;margin:0 auto;float:left;}
  </style>

    <div style="clear:both; margin-bottom: 30px;"></div>
    <div class="row-fluid">
    <% @packages.each do |p| %>
    <% if p.price > @packagePrice %>

    
    <div class="pricing-table">
      <%
        @class = "color-666777";
        if p.n_appointments == -1
          @class = "color-custom";
        end
      %>
      <table class="<%= @class %>">
        <tr> <th>
            <%= p.name %>
          </th> 
        </tr>
        <tr> <td class="large">
            <span class="time">Preço:</span> <span class="price"><%= p.price %></span>
          </td> 
        </tr>
        <tr> <td>
            <span class="time">Sessões por Semana:</span>
            <span class="price">
              <%if p.n_appointments == -1 %>
              <%= "Ilimitado" %>
              <%elsif%>
              <%= p.n_appointments %>
              <%end%>
            </span>
          </td> 
        </tr>
        <tr> <td>
            <span class="time">Exercícios:</span>
            <span class="price">
                <%if p.n_exercises == -1 %>
                <%= "Ilimitado" %>
                <%elsif%>
                <%= p.n_exercises %>
                <%end%>
            </span>
          </td> 
        </tr>
        <tr> <td>
            <span class="time">Avaliações:</span>
            <span class="price">
              <%if p.n_evaluations == -1 %>
              <%= "Ilimitado" %>
              <%elsif%>
              <%= p.n_evaluations %>
              <%end%>
            </span>
          </td> 
        </tr>
      </table>
      <center>
        <input style="margin-top:15px;" type="radio" value = "<%= p.id %>" id = "<%= p.id %>" name= "packageType" required />
      </center>
    </div>
    <%end%>

    <%end%>

    </br>
    <div>
      <%= button_to "Cancelar", clinic_path( Manager.first(:conditions => "login_id = #{current_login.id}").clinic), :method => "get", :class => "btn btn-warning span2" %>
    </div>
    <div>
      <%= button_to "Submeter", {:controller => :clinics, :action => :changePackageSubmit}, :class => "btn btn-success span2", :onclick => "return getCheckedRadio();" %>
    </div>
