
<h2>Mudar Pacote</h2>
<% if @payments %>
  <% if @packageID < @bestPackageID %>

    <% @packages.each do |p| %>
    <% if p.id > @packageID%>

    <p>Atenção, so pode alterar o seu pacote para um superior</p>
    <div class="table_container">
      <table border = "1">
        <tr> <th>
            <%= p.name %>
          </th> 
        </tr>
        <tr> <td>
            Preço: <%= p.price %>
          </td> 
        </tr>
        <tr> <td>
            Sessões por Semana:
            <%if p.n_appointments == -1 %>
            <%= "Illimitado" %>
            <%elsif%>
            <%= p.n_appointments %>
            <%end%>

          </td> 
        </tr>
        <tr> <td>
            Exercícios:
            <%if p.n_exercises == -1 %>
            <%= "Illimitado" %>
            <%elsif%>
            <%= p.n_exercises %>
            <%end%>
          </td> 
        </tr>
        <tr> <td>
            Avaliações:
            <%if p.n_evaluations == -1 %>
            <%= "Illimitado" %>
            <%elsif%>
            <%= p.n_evaluations %>
            <%end%>
          </td> 
        </tr>
      </table>
      <input type="radio" value = "<%= p.id %>" id = "<%= p.id %>" name= "packageType" required />
    </div>
    <% end %>
    <%end%>
    </br>
    <div>
      <%= button_to "Cancelar", clinic_path( Manager.first(:conditions => "login_id = #{current_login.id}").clinic), :method => "get", :class => "btn btn-warning span2" %>
    </div>
    <div>
      <%= button_to "Submeter", {:controller => :clinics, :action => :changePackageSubmit}, :class => "btn btn-success span2" %>
    </div>
  <% else %>
   <p>Não existe melhor pacote do que a sua clínica já tem</p>
  <% end %>
<% else %>
  <p> Não pode mudar o seu pacote até efetuar todos os pagamentos em atraso!</p>
<% end %>
