</div><!-- /.container -->
<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1">
			<div>
				<legend>
					Clínicas
				</legend>
				<table id="clinics" class="table table-hover table-bordered table-striped" id="clinics">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Telefone</th>
							<th>Email</th>
							<th>Capacidade</th>
							<th>Estado</th>
						</tr>
					</thead>
					<% if @clinics %>
					<tbody>
						<% @clinics.each do |clinic| %>
						<tr onmouseover="this.style.cursor = 'pointer'" onclick="location.href='<%= clinic_path(clinic) %>'">
							<td><%= clinic.name %></td>
							<td><%= clinic.telephone %></td>
							<td><%= clinic.email %></td>
							<td>
							<div class="row-fluid">
								<div class="span7">
									<div class="progress">
										<div class="bar bar-danger" style="width: 100%;"></div>
									</div>
								</div>
								<div class="span2 offset1">
									10/10
								</div>
							</div></td>
							<td> <% if clinic.deleted_at == nil %>
							<p class="text-success">
								Activa
							</p> <%else%>
							<p class="text-error">
								Inativa
							</p> <%end%> </td>
						</tr>
						<% end %>
					</tbody>
					<% end %>
				</table>
				<!--<p><a href="#" class="pull-right">View All &raquo;</a></p>-->
			</div>
			<br>
			<%= link_to 'Adicionar Clínica',new_clinic_path, :class => "btn btn-primary pull-right" %>
			<!-- <%= link_to "Label", :controller => :payments, :action => :check %>-->

		</div>

	</div>
	<div class="span3"></div>
</div>
<br/>

