<% if login_signed_in? %>
	<% if Login.find(current_login.id).has_role? :manager %> 
  		<%= render :file => "/clinics/showManager.html.erb" %>
    <% else %>
    
	

    </div><!-- /.container -->
    <div class="container">
    <div class="row-fluid">
    <div class="span8 offset2" style="padding: 40px;padding-right:80px;padding-top: 20px;-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);-moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);box-shadow: 0 2px 10px rgba(0, 0, 0, .25);background-color: white;">
        <div class="span4 pull-right offset1">
          <div style="margin-top: 60px;"> 
             <h6 style="color: lightgray; font-weight: normal; text-transform: uppercase;">Capacidade da clínica</h6><hr/>
          <div class="row-fluid">           
            <div class="span10">
              Pacientes
              <div class="progress progress-success">
                <div class="bar" style="width: 30%;"></div>
              </div>
            </div>
            <div class="span2">
              <br/>
               3/10
            </div>
          </div>
          <div class="row-fluid">   
            <div class="span10">
             Neuropsicólogos (as)
              <div class="progress progress-warning">
                <div class="bar" style="width: 60%;"></div>
              </div>
            </div>
            <div class="span2">
              <br/>
               6/10
            </div>
          </div>
          <div class="row-fluid">   
            <div class="span10">
              Secretários (as)
              <div class="progress progress-danger">
                <div class="bar" style="width: 80%;"></div>
              </div>
            </div>
            <div class="span2">
              <br/>
               8/10
            </div>
          </div>
          <div class="row-fluid">   
            <div class="span10">
              Consultas Agendadas
              <div class="progress progress-danger">
                <div class="bar" style="width: 80%;"></div>
              </div>
            </div>
            <div class="span2">
              <br/>
               8/10
            </div>
          </div>
        </div>
        </div>
        <div class="span7">
          <h4 style="margin-bottom: 30px;"> <%= @clinic.name %> </h4>
          <h6 style="color: lightgray; font-weight: normal; text-transform: uppercase;">Dados da clínica</h6><hr/>
          <div class="row-fluid">
              <div class="span3"><b>Morada</b></div>
              <div class="span9"> <%= @clinic.address %> </div>
          </div>
           <div class="row-fluid">
              <div class="span3"><b>Telefone</b></div>
              <div class="span9"> <%= @clinic.telephone %> </div>      
          </div>
           <div class="row-fluid">
              <div class="span3"><b>Email</b></div>
              <div class="span9"> <%= @clinic.email %> </div>      
          </div>
          <br/>
           <div class="row-fluid">
              <div class="span3"><b>NIF</b></div>
              <div class="span9"> <%= @clinic.fiscal_number %> </div>      
          </div>

           <h6 style="color: lightgray; font-weight: normal; text-transform: uppercase;">Dados do gestor</h6><hr/>
           <div class="row-fluid">
              <div class="span3"><b>Email</b></div>
              <div class="span9"> <%= @clinic.email %> </div>      
          </div>
           <div class="row-fluid">
              <div class="span3"><b>Telemóvel</b></div>
              <div class="span9"> <%= @clinic.telephone %> </div>      
          </div>
        </div>
        <br/>
        <div class="span12">
          <h3>Historial de Pagamentos</h3>

          <div class="span12" id="chart_div3" style="height: 300px;">
          </div>  
        </div>  

        <div class="row-fluid span12">
            <button type="button" class="btn-success span2" style="margin-top:10px;"> <%= link_to 'Editar', edit_clinic_path %> </button>
            <button type="button" class="btn-danger span2" style="margin-top:10px;">Desativar</button>
         </div>

    </div>
    </div>
    <div class="span3"></div>


    </div>
    <%end %>
    
<%end %>