<%= form_for(@wai) do |f| %>
<% if @wai.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@wai.errors.count, "error") %> prohibited this wai from being saved:</h2>

	<ul>
		<% @wai.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="row-fluid">
	<div class="span8">
		<!-- 						<div>
		<%= f.label :phase, "Fase" %>
		<%= f.number_field :phase %>
		</div> -->
		<div>
			<%= f.label :spent_time, "Tempo Despendido" %>
			<%= f.number_field :spent_time %>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<%= f.label :correct_items, "Itens Certos" %>
				<%= f.number_field :correct_items %>
			</div>
			<div class="span6">
				<%= f.label :wrong_items, "Itens Errados" %>
				<%= f.number_field :wrong_items %>
			</div>
		</div>
	</div>
	<div class="span4 pull-right">
		<center>
			<h1>120<label>SEGUNDOS</label></h1>
			<p>
				<button type="button" class="btn btn-success">
					Iniciar
				</button>
				<button type="button" class="btn btn-danger">
					Parar
				</button>
				<button type="button" class="btn btn-info">
					Reiniciar
				</button>
			</p>
		</center>
	</div>
	<div>
		<%= f.label :observations, "Observações:", :class => "span12" %>
		<%= f.text_area :observations, :rows => 5, :class => "span12", :style => "resize:vertical;"%>
	</div>
</div>
<div class="actions">
	<%= f.submit :Terminar ,:class => "btn btn-success span2 pull-right"%>
</div>

<% end %>