<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2">

			<legend>
				<h2 class="h2-title">Alterar Password</h2>
			</legend>
			<div class="row-fluid">
				<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<div class="row-fluid">
					<div class="span6">
						<%= f.label :email, "Email"%>
						<%= f.input_field :email, :required => true, :class => "span12", :readonly => true %>
					</div>
					<div class="span6">
						<%= f.label :current_password, "Password Atual"%>
						<%= f.input_field :current_password, :required => true, :class => "span12" %>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<%= f.label :email, "Nova Password"%>
						<%= f.input_field :password, :autocomplete => "off", :class => "span12", :required => true %>
					</div>
					<div class="span6">
					
						<%= f.label :email, "Confirmação de Password"%>
						<%= f.input_field :password_confirmation, :required => true, :class => "span12" %>
					</div>

				</div>
				<div class="row-fluid">
					<div class="span12">
						<%= f.button :submit, 'Atualizar', :class => 'btn btn-success pull-right' %>
					</div>
				</div>

				<% end %>

			</div>

		</div>
	</div>
</div>
