<%# encoding: utf-8 %>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div>
  <h2>NeuroPump</h2>
  <p>
    Bem-vindo ao NeuroPump,<br/><br/>
    Os seus dados de registo são:</br>
    E-Mail do Login: <%= @emailM %>
    Password: <%= @password %>
    Nome da Clínica: <%= @cName %></br></br>
    Pode aceder a nossa plataforma <a href="http://localhost:3000/logins/sign_in">aqui</a><br/><br/>
    Por favor efetue o pagamento do pacote ao qual subscreveu.</br>
    Os detalhes para pagamento são:</br>
    Entidade: <%= @entity %>
    Referencia: <%= @reference %> <br/>
    Preço: €<%= @price%> <br/><br/>

    Atentamente,<br/>
    NeuroPump
  </p>
</div>
</body>
</html>