<!-- start: CSS -->
<%= stylesheet_link_tag 'bootstrap.css' %>
<%= stylesheet_link_tag 'bootstrap-responsive.css' %>
<%= stylesheet_link_tag 'style.css' %>
<%= stylesheet_link_tag 'parallax-slider.css' %>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
<!-- end: CSS -->

<!--start: Wrapper-->
<div id="wrapper">

	<!--start: Container -->
	<div class="container">

		<!--start: Row -->
		<div class="row">

			<div class="span8">

				<!-- start: About Us -->
				<div id="about">
					<div class="title">
						<h3>About Us</h3>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
				</div>
				<!-- end: About Us -->

				<!-- start: History -->
				<div id="history">
					<div class="title">
						<h3>O Projecto</h3>
					</div>
					<p style="text-align: justify">Este projeto decorreu no âmbito duma unidade curricular do último ano do Mestrado em Engenharia Informática realizado na Universidade do Minho. Entre outros, o projeto possuía requisitos especiais, como o trabalho em equipas de 
grande dimensão (20 elementos) e a elaboração de um plano de negócios para uma aplicação desenvolvida consoante regras de engenharia de software.
					</p>
					<p style="text-align: justify">A ideia para o projeto surgiu de uma necessidade identificada na área da neuropsicologia. O processo clínico nesta área obriga o neuropsicólogo a desperdiçar muito tempo na análise e correção de testes que são realizados aos pacientes. Este processo é todo executado em papel e origina elevadas quantidades de documentos, o que dificulta a análise e acompanhamento dos pacientes. A NeuroPump é então 
uma plataforma web especialmente desenvolvida para especialistas de neuropsicologia. Torna possível gerir, 
de forma prática e simples, os seus pacientes desde o primeiro momento. 
Com a informação centralizada num só lugar, esta ferramenta torna mais fácil e eficaz o acompanhamento de cada paciente da sua clínica.
					</p>
					<p style="text-align: justify"> A plataforma permite ainda a execução de exercícios de estimulação, mas o seu principal foco é a elaboração 
de testes de avaliação, onde a maior parte do tempo é desperdiçada.
					</p> 
				</div>
				<!-- end: History -->

				<!-- start: Team -->
				<div id="team">

					<div class="title">
						<h3>A Equipa</h3>
					</div>
						<p style="text-align: justify">Somos uma equipa jovem, dinâmica e responsável! Ao longo do projeto, houve sempre o cuidado de desenvolver a plataforma para que esta fosse de 
encontro às reais necessidades dos neuropsicólogos. Para isto, contámos sempre com a ajuda de profissionais da área, que se mostraram muito interessados no projeto. 
						</p>
<!-- 						<%= image_tag("/assets/equipa.jpg") %> -->
<img src="img/equipa.jpg" alt=""/>
					

				</div>
				<!-- end: Team -->

			</div>

			<div class="span4">

				<!-- start: Sidebar -->
				<div id="sidebar">

					<!--

					
					<div class="title">
						<h3>Our Skills</h3>
					</div>
					<ul class="progress-bar">
						<li>
							<h5>Web Design ( 40% )</h5>
							<div class="meter">
								<span style="width: 40%"></span>
							</div>
						</li>
						<li>
							<h5>Wordpress ( 80% )</h5>
							<div class="meter">
								<span style="width: 80%"></span>
							</div>
						</li>
						<li>
							<h5>Branding ( 100% )</h5>
							<div class="meter">
								<span style="width: 100%"></span>
							</div>
						</li>
						<li>
							<h5>SEO Optmization ( 60% )</h5>
							<div class="meter">
								<span style="width: 60%"></span>
							</div>
						</li>
					</ul>
					-->
					<!--
					<div class="testimonial-container">

						<div class="title">
							<h3>Testemunhos</h3>
						</div>

						<div class="testimonials-carousel" data-autorotate="3000">

							<ul class="carousel">

								<li class="testimonial">
									<div class="testimonials">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
									</div>
									<div class="testimonials-bg"></div>
									<div class="testimonials-author">
										Lucas Luck, <span>CEO</span>
									</div>
								</li>
							</ul>

						</div>

					</div>
				-->

					<!-- end: Testimonials-->

				</div>
				<!-- end: Sidebar -->

			</div>

		</div>
		<!--end: Row-->

	</div>
	<!--end: Container-->

	<!--start: Container -->
	<hr />
	<!--end: Container-->

</div>
<!-- end: Wrapper  -->

<!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'bootstrap.js' %>
	<%= javascript_include_tag 'isotope.js' %>
	<%= javascript_include_tag 'jquery.imagesloaded.js' %>
	<%= javascript_include_tag 'flexslider.js' %>
	<%= javascript_include_tag 'jquery.cslider.js' %>
	<%= javascript_include_tag 'slider.js' %>
	<%= javascript_include_tag 'fancybox.js' %>
	<%= javascript_include_tag 'custom.js' %>
<!-- end: Java Script -->

<%= render :file => '/devise/sessions/_modal.html.erb' %>
