<!-- start: CSS -->
<%= stylesheet_link_tag 'bootstrap.css' %>
<%= stylesheet_link_tag 'bootstrap-responsive.css' %>
<%= stylesheet_link_tag 'style.css' %>
<%= stylesheet_link_tag 'parallax-slider.css' %>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<!-- end: CSS -->

<!-- start: Wrapper -->
<div id="wrapper">

	<!-- start: Container -->
	<div class="container">
		<div id="google-maps" class="google-map google-map-full" style="height: 300px; border-top: 5px solid #F6F6F6; border-bottom: 5px solid #F6F6F6; margin-bottom: 20px;">

		</div>
		<!-- start: Row -->
		<div class="row">

			<!-- start: Contact Info -->
			<div class="span3">
				<div class="title">
					<h3>Informação de Contacto</h3>
				</div>
				<p>
					<b>NeuroPump</b>
				</p>
				<p>
					Universidade do Minho, Campus de Gualtar 
				</p>
				<p>
					4710-057 Braga, Portugal
				</p>
				<p>
					Email: info@neuropump.com
				</p>
				<p>
					Web: neuropump.com
				</p>
			</div>
			<!-- end: Contact Info -->

			<!-- start: Contact Form -->
			<div class="span4">
				<div class="title">
					<h3>Formulário de Contacto</h3>
				</div>

				<!-- start: Contact Form -->
				<div id="contact-form">

					<form method="post" action="">

						<fieldset>
							<div class="clearfix">
								<label for="name"><span>Nome:</span></label>
								<div class="input">
									<input tabindex="1" size="18" id="name" name="name" type="text" value="">
								</div>
							</div>

							<div class="clearfix">
								<label for="email"><span>Email:</span></label>
								<div class="input">
									<input tabindex="2" size="25" id="email" name="email" type="text" value="" class="input-xlarge">
								</div>
							</div>

							<div class="clearfix">
								<label for="message"><span>Mensagem:</span></label>
								<div class="input">
									<textarea tabindex="3" class="input-xlarge" id="message" name="body" rows="7"></textarea>
								</div>
							</div>

							<div class="actions">
								<button tabindex="3" type="submit" class="btn btn-succes btn-large">
									Send message
								</button>
							</div>
						</fieldset>

					</form>

				</div>
				<!-- end: Contact Form -->

			</div>
			<!-- end: Contact Form -->

			<!-- start: Social Sites -->
			<div class="span5">
				<div class="title">
					<h3>Siga-nos!</h3>
				</div>
				<div id="social-r" class="tooltips">
						<a class="facebook" href="http://www.facebook.com/NeuroPump">facebook</a>
						<a class="tumblr" href="http://neuropump.tumblr.com/">tumblr</a>
						<a class="vimeo" href="http://player.vimeo.com/video/55020917">vimeo</a>
					
				</div>
			</div>
			<!-- end: Social Sites -->

		</div>
		<!-- end: Row -->

	</div>
	<!-- end: Container -->

</div>
<!-- end: Wrapper  -->

<!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'bootstrap.js' %>
	<%= javascript_include_tag 'isotope.js' %>
	<%= javascript_include_tag 'jquery.imagesloaded.js' %>
	<%= javascript_include_tag 'flexslider.js' %>
	<%= javascript_include_tag 'jquery.cslider.js' %>
	<%= javascript_include_tag 'slider.js' %>
	<%= javascript_include_tag 'fancybox.js' %>
	<%= javascript_include_tag 'custom.js' %>
<!-- end: Java Script -->

<%= render :file => '/devise/sessions/_modal.html.erb' %>


	<script type="text/javascript">
		window.onload = function () {
			var mapDiv = document.getElementById('google-maps');
		  	map = new google.maps.Map(mapDiv, {
		    	center: new google.maps.LatLng(41.560549, -8.395863),
		    	zoom: 16,
		    	mapTypeId: google.maps.MapTypeId.ROADMAP
		  	});

		  	var latLng = new google.maps.LatLng(41.560549, -8.395863);
			var marker = new google.maps.Marker({
			    position: latLng,
			    map: map
		    });
		 }
 		
	</script>