<%= stylesheet_link_tag 'bootstrap.css' %>
<%= stylesheet_link_tag 'bootstrap-responsive.css' %>
<%= stylesheet_link_tag 'style.css' %>
<%= stylesheet_link_tag 'parallax-slider.css' %>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
<!-- end: CSS -->

<!--start: Wrapper-->
<div id="wrapper">

	<!-- start:Container -->
	<div class="container">

		<!-- start: Table -->
		<div class="title">
			<h3>Pacotes de Subscrição</h3>
		</div>
		  <div style="clear:both; margin-bottom: 20px;"></div>
		  <center>
		  <div class="row-fluid" style="width: 78%;">
		    <% @numTabelas = 0; %>
		    <% @packages.each do |p| %>
		    <% @numTabelas = @numTabelas + 1; %>
		    <div class="pricing-table" >
		      <%
		        @class = "color-666777";
		        if p.n_appointments == -1
		          @class = "color-custom";
		        end
		      %>
		      <table style="width: 100%; font-weight: bold" class="<%= @class %>" id="table<%= @numTabelas %>">
		        <tr> <th>
		            <b style="font-size: 16px"><%= p.name %></b>
		          </th> 
		        </tr>
		        <tr> <td class="large">
		            <span class="time"><b>Preço:</b></span> <span class="price"><b>€ <%= p.price %></b></span>
		          </td> 
		        </tr>
		        <tr> <td>
		            <span class="time">Sessões por Semana:</span>
		            <span class="price">
		              <%if p.n_appointments == -1 %>
		              <%= "Ilimitado" %>
		              <%elsif%>
		              <%= p.n_appointments %>
		              <%end%>
		            </span>
		          </td> 
		        </tr>
		        <tr> <td>
		            <span class="time">Exercícios:</span>
		            <span class="price">
		                <%if p.n_exercises == -1 %>
		                <%= "Ilimitado" %>
		                <%elsif%>
		                <%= p.n_exercises %>
		                <%end%>
		            </span>
		          </td> 
		        </tr>
		        <tr> <td>
		            <span class="time">Exames de Avaliação:</span>
		            <span class="price">
		              <%if p.n_evaluations == -1 %>
		              <%= "Ilimitado" %>
		              <%elsif%>
		              <%= p.n_evaluations %>
		              <%end%>
		            </span>
		          </td> 
		        </tr>
		      </table>
		    </div>
		    <%end%>
		  </div>
		</center>
		<!-- end: Table -->
	</div>
	<!-- end: Container -->

</div>
<!-- end: Wrapper  -->

<!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'bootstrap.js' %>
	<%= javascript_include_tag 'isotope.js' %>
	<%= javascript_include_tag 'jquery.imagesloaded.js' %>
	<%= javascript_include_tag 'flexslider.js' %>
	<%= javascript_include_tag 'jquery.cslider.js' %>
	<%= javascript_include_tag 'slider.js' %>
	<%= javascript_include_tag 'fancybox.js' %>
	<%= javascript_include_tag 'custom.js' %>
<!-- end: Java Script -->

<%= render :file => '/devise/sessions/_modal.html.erb' %>