<%= stylesheet_link_tag 'css/bootstrap.css' %>
<%= stylesheet_link_tag 'css/bootstrap-responsive.css' %>
<%= stylesheet_link_tag 'css/style.css' %>
<%= stylesheet_link_tag 'css/parallax-slider.css' %>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
<!-- end: CSS -->

<!--start: Wrapper-->
<div id="wrapper">

	<!-- start:Container -->
	<div class="container">

		<!-- start: Table -->

		<div class="three-tables">

			<div class="pricing-table">
				<div class="color-cccddd">
					<h3>Standard</h3>
					<h4><span class="price">€9.99</span><span class="time">per month</span></h4>
					<ul>
						<li>
							5 Consultas
						</li>
						<li>
							4 Avaliações
						</li>
						<li>
							10 Neuropsicólogos
						</li>
						<li>
							10 Secretários
						</li>
					</ul>
					<a href="#" class="buy"><span>Buy</span></a>
				</div>
			</div>

			<div class="pricing-table best-option">
				<div class="color-custom">
					<h3>Premium</h3>
					<h4><span class="price">€29.99</span><span class="time">per month</span></h4>
					<ul>
						<li>
							10 Consultas
						</li>
						<li>
							9 Avaliações
						</li>
						<li>
							20 Neuropsicólogos
						</li>
						<li>
							20 Secretários
						</li>
					</ul>
					<a href="#" class="buy"><span>Buy</span></a>
				</div>
			</div>

			<div class="pricing-table">
				<div class="color-666777">
					<h3>Professional</h3>
					<h4><span class="price">€49.99</span><span class="time">per month</span></h4>
					<ul>
						<li>
							15 Consultas
						</li>
						<li>
							14 Avaliações
						</li>
						<li>
							Neuropsicólogos Ilimitados
						</li>
						<li>
							Secretários Ilimitados
						</li>
					</ul>
					<a href="#" class="buy"><span>Buy</span></a>
				</div>
			</div>

		</div>
		<!-- end: Table -->

	</div>
	<!-- end: Container -->

</div>
<!-- end: Wrapper  -->

<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag 'js/jquery-1.8.2.js' %>
<%= javascript_include_tag 'js/bootstrap.js' %>
<%= javascript_include_tag 'js/isotope.js' %>
<%= javascript_include_tag 'js/jquery.imagesloaded.js' %>
<%= javascript_include_tag 'js/flexslider.js' %>
<%= javascript_include_tag 'js/carousel.js' %>
<%= javascript_include_tag 'js/jquery.cslider.js' %>
<%= javascript_include_tag 'js/slider.js' %>
<%= javascript_include_tag 'js/fancybox.js' %>
<%= javascript_include_tag 'js/custom.js' %>
<!-- end: Java Script -->

<%= render :file => '/devise/sessions/_modal.html.erb' %>
