<%= form_for(@ftt) do |f| %>
<% if @ftt.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@ftt.errors.count, "error") %> prohibited this ftt from being saved:</h2>

	<ul>
		<% @ftt.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$('#btnReiniciar').attr("disabled", true);
	});

	$("#new_ftt_result").bind("keypress", function(e) {
		if (e.keyCode == 13) {
			hide(inputSelec);
			return false;
		}
	});

	var x = null;
	var myVar;
	var cont = 0;
	var aux = 0;
	var inputSelec = 0;
	var descanco = false;

	function updateDisplay(descanco) {
		var value = parseInt($('#timer').find('.value').text(), 10);
		value--;
		$('#timer').find('.value').text(value);

		if (value == '0') {
			clearInterval(myVar);
			if (cont != 20) {
				$('#btnIniciar').attr("disabled", false);
				$('#submit').attr("disabled", false);
			}
			$('#btnReiniciar').attr("disabled", true);

			if (!descanco) {
				mostra(cont);
				cont++;

			}

		}

	}

	function mostra(lblNum) {
		var val = $("#teste" + lblNum).html()
		$("#teste" + lblNum).replaceWith(function() {
			return "<input id=\"teste" + lblNum + "\"  style=\"text-align: center !important;width: 90px; height:20px;margin-bottom:0px;\"  name=\"teste" + lblNum + "\"  type=\"number\" onblur=\"hide(" + lblNum + ")\" style=\"width:60px;height:20px;\"  value=\"" + $(this).html() + "\" required></input>";
		});

		//

		$("#teste" + lblNum).focus();
		$('#btnIniciar').attr("disabled", true);
		aux = val;
		inputSelec = lblNum;
	}

	function hide(lblNum) {
		var intRegex = /^\d+$/;
		value = $("#teste" + lblNum).val();
		if (!intRegex.test(value)) {
			value = 0;
		}
		$("#teste" + lblNum).replaceWith(function() {
			return "<label id=\"teste" + lblNum + "\"   class=\"lblTable\"  onclick=\"mostra(" + lblNum + ")\" >" + value + "</label>";
		});
		$('#btnIniciar').attr("disabled", false);
		if (parseInt(lblNum / 10) == 0) {
			//Dominante
			var value = parseInt(value);
			var total = parseInt($("#totalDominante").html());
			total = total - parseInt(aux);
			var result = total + value;
			$("#totalDominante").html(result);
			$("#mediaDominante").html(result / 10);
		} else {
			var value = parseInt(value);
			var total = parseInt($("#totalNaoDominante").html());
			total = total - parseInt(aux);
			var result = total + value;
			$("#totalNaoDominante").html(result);
			$("#mediaNaoDominante").html(result / 10);
		}

	}

	function iniciaRelogio() {
		var aux = document.getElementById("timer2");
		clearInterval(myVar);

		if (cont == 2 || cont == 6 || cont == 9) {
			if (descanco == false) {
				aux.innerHTML = "10";
				myVar = setInterval(function() {
					updateDisplay(false)
				}, 1000);
			} else {
				descanco = false;
				aux.innerHTML = "15";
				myVar = setInterval(function() {
					updateDisplay(true)
				}, 1000);
			}
		} else {
			descanco = true;
			aux.innerHTML = "10";
			myVar = setInterval(function() {
				updateDisplay(false)
			}, 1000);
		}

		$('#btnIniciar').attr("disabled", "disabled");
		$('#btnReiniciar').attr("disabled", false);
	}

	function mostratudo() {
		for (var i = 0; i < 20; i++) {
			$("#teste" + i).replaceWith(function() {
				return "<input id=\"teste" + i + "\"   name=\"teste" + i + "\" class=\"inpTable\"  type=\"number\" value=\"" + $(this).html() + "\" required></input>";
			});
		}
	}
</script>

<style>
	td {
		text-align: center;
		vertical-align: middle; /* center checkbox vertically */
	}

	label.lblTable {
		text-align: center;
		margin-top: 7px;
	}

	td.tdTable {
		text-align: center;
		vertical-align: middle;
	}

	td.inpTable {
		text-align: center;
	}

</style>

<div class="row-fluid">
	<div class="span6">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th><center>Ensaio</center></th>
					<th><center>Mão Dominante</center></th>
					<th><center>Mão Não Dominante</center></th>
				</tr>
			</thead>
			<tbody>
				<% for i in 0..9 %>
					<% if i == 2 or i== 5 or i==8 %>
						<tr>
							<td colspan="3"> <label class="lblTable" >Descanco (15 seg.)</label></td>
						</tr>
					<% else %>
						
					<% end %>
					<tr>
						<td><label class="lblTable" style="font-weight: bold;" ><%= i+1 %></label></td>
						<td class="tdTable"><label id="teste<%= i %>" class="lblTable" onclick="mostra(<%= i %>)">0</label></td>
						<td class="tdTable"><label id="teste<%= i+10 %>" class="lblTable" onclick="mostra(<%= i+10 %>)">0</label></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

<div class="span4 offset1">
	<center>
		<div id="timer">	
			<h1><span id="timer2" class="value">10</span> <label>SEGUNDOS</label></h1>
		</div> ​
		<p>
			<button id="btnIniciar" type="button" onclick="iniciaRelogio()" class="btn btn-success">
				Iniciar
			</button>
			<button id="btnReiniciar" type="button" onclick="iniciaRelogio()"   class="btn btn-info">
				Reiniciar
			</button>
		</p>
		</br>
		</br>	</br>	</br>
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Dominante</th>
					<th>Não Dominante</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><label class="lblTable" >Total</label></td>
					<td><label class="lblTable" id="totalDominante">0</label></td>
					<td><label class="lblTable" id="totalNaoDominante">0</label></td>
				</tr>
				<tr>
					<td><label class="lblTable" >Média</label></td>
					<td><label class="lblTable" id="mediaDominante">0</label></td>
					<td><label class="lblTable" id="mediaNaoDominante">0</label></td>
				</tr>
			</tbody>
		</table>
	</center>
</div>
<div style="clear:both"></div>
<div class="row-fluid">
	<%= f.label :observations, "Observações Mão Dominante" , :classs => 'xps'%>
	<br />
	<%= text_area_tag  'observationsA' , nil , :style => "width: 98%;max-width: 98%;",  :rows=> "5" , :placeholder => "Insira as suas observações"  %>
</div>

<div class="row-fluid">
	<%= f.label :observations, "Observações Mão não dominante" %>
	<br />
	<%= text_area_tag 'observationsB' , nil , :style => "width: 98%; max-width: 98%;",  :rows=> "5" , :placeholder => "Insira as suas observações"%>

</div>
<div class="row-fluid">
	<%if session["test_sequence"].blank? %>
	<button type="submit" id="submit" onclick="mostratudo();" class="btn btn-success pull-right" >
		Terminar Avaliação
	</button>
	<%else %>
	<button type="submit" id="submit-next" onclick="mostratudo();" class="btn btn-success pull-right" >
		Próximo teste
	</button>
	<%end%>
</div>

</div>
<% end %>

<!--<script type="text/javascript">
	$('#submit-next').click(function() {
		alert('entrou->'+this.href+'|'+this.path+'|'+);
	  history.pushState({ path: this.path }, '', this.href)
	  $.get(this.href, function(data) {
	    $('#slide').slideTo(data)      
	  })
	  	alert('saiu');
	  return false  
	})
</script>-->