<%= simple_form_for(@manager) do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :mobilephone %><br />
    <%= f.text_field :mobilephone %>
  </div>
  <div class="field">
    <%= f.association :gender, label_method: :description, :prompt => "Please select a gender" %>
  </div>

  <div class="field">
    <%= f.association :clinic, label_method: :name, :prompt => "Please select a clinic" %>
  </div>
  
  <div class="field">
    <%= f.label 'Login ID' %><br />
    <%= f.text_field :login_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
