
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart2);
      function drawChart2() {
        var appointmentsData = google.visualization.arrayToDataTable(
          <%=
            @monthlyValues.to_s.html_safe
          %>
        );
        
        var appointmentsOptions = {
          title: 'Visão Mensal das Consultas do Ano Atual'
        };

        var appointmentsChart = new google.visualization.BarChart(document.getElementById('chart_div_appointments'));
        appointmentsChart.draw(appointmentsData, appointmentsOptions);
        
        
       /****/
       var resourcesData = google.visualization.arrayToDataTable([
          ['Termo', 'Total'],
          ['Pacientes',  <%= @clinic.patients.count %>],
          ['Secretários', <%= @clinic.secretaries.count %>],
          ['Neuropsicólogos', <%= @clinic.neuropsychologists.count %>]
        ]);

        var resourcesOptions = {
          title: 'Número de Recursos Humanos/Pacientes da Clínica'
        };
       
       var resourcesChart = new google.visualization.ColumnChart(document.getElementById('chart_div_resources'));
        resourcesChart.draw(resourcesData, resourcesOptions);
      
      
      /******/
     var agesData = google.visualization.arrayToDataTable(
          <%=
            @agesArray.to_s.html_safe
          %>
        );
        
        var agesOptions = {
          title: 'Idades dos Pacientes',
          hAxis: {title: 'Quantidade'},
          vAxis: {title: 'Intervalo de Idades (anos)'},
          'chartArea':{width:"60%"}
        };

        var agesChart = new google.visualization.BarChart(document.getElementById('chart_div_ages'));
        agesChart.draw(agesData, agesOptions);
        
        
     /******/
     var gendersData = google.visualization.arrayToDataTable(
          <%=
            @gendersArray.to_s.html_safe
          %>
        );
        
        var gendersOptions = {
          title: 'Sexo dos Pacientes',
          hAxis: {title: 'Sexo'},
          vAxis: {title: 'Quantidade'},
          'chartArea':{width:"60%"}
        };

        var gendersChart = new google.visualization.ColumnChart(document.getElementById('chart_div_genders'));
        gendersChart.draw(gendersData, gendersOptions);
    }
     
    </script>

    <%
    count = 0 
    @clinic.neuropsychologists.each do |neuro|
      neuro.appointments.each do |app|
        if app.appointment_status.name == "Marcada"
          count += 1
        end
      end
    end
    %>

<div class="container row-fluid">

	<div class="span12">
		<div class="slate clearfix">
			<a class="span3 stat-column" "> <span style="font-size: 20px;line-height: 27px;"><%= @clinic.name %></span> </a>
			<a class="span2 stat-column" href="#"> <span class="number"><%= @clinic.patients.count %></span> <span>Pacientes</span> </a>
			<a class="span2 stat-column" href="#"> <span class="number"><%= @clinic.secretaries.count %></span> <span>Secretários</span> </a>
			<a class="span2 stat-column" href="#"> <span class="number"><%= @clinic.neuropsychologists.count %></span> <span>Neuropsicólogos</span> </a>
			<a class="span2 stat-column" href="#"> <span class="number"> <%= count %> </span> <span>Consultas agendadas</span> </a>
		</div>
	</div>

    <div class="row-fluid">
        <div class="span6" id="chart_div_appointments" style="height: 500px;">
        </div>
        <div class="span6" id="chart_div_resources" style="height: 500px;">
      </div>
    </div>

	<div class="row-fluid">
			<div class="span6" id="chart_div_ages" style="height: 500px;">
			</div>

			<div class="span6 pull-right" id="chart_div_genders" style="height: 500px;">
			</div>
	</div>

		<div class="row-fluid">
			<div class="span6 pull-left">
				<h4>Lista de Secretários</h4>

				<div class="accordion" id="accordion">
					<% i = 0 %>
					<% @clinic.secretaries.each do |secretary| %>
					<% i=i+1 %>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>"> <%= secretary.name %> </a>
						</div>
						<div id="collapse<%= i %>" class="accordion-body collapse">
							<div class="accordion-inner">
								Email: <%= secretary.login.email %>
								<br/>
								Data de Nascimento: <%= secretary.date_of_birth %>
								<br/>
								Nº de consultas marcadas: <%= count %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<div class="span6 pull-right">

				<h4>Lista de Neuropsicólogos</h4>

				<div class="accordion" id="accordion2">
					<% @clinic.neuropsychologists.each do |neuropsychologist| %>
					<% i=i+1 %>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= i %>"> <%= neuropsychologist.name %> </a>
						</div>
						<div id="collapse<%= i %>" class="accordion-body collapse">
							<div class="accordion-inner">
								Email: <%= neuropsychologist.login.email %>
								<br/>
								Data de Nascimento: <%= neuropsychologist.date_of_birth %>
								<br/>
								Nº de consultas marcadas: <%= count %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>

		<h2>Historial de Pagamentos</h2>

		<!--div class="span12" id="chart_div3" style="height: 300px; margin-bottom: 60px;"></div-->
	</div>

