<p id="notice"><%= notice %></p>

<p>
  <b>Telephone:</b>
  <%= @manager.telephone %>
</p>

<p>
  <b>Mobilephone:</b>
  <%= @manager.mobilephone %>
</p>

<p>
  <b>Gender ID:</b>
  <%= @manager.gender_id %>
</p>

<p>
  <b>Clinic ID:</b>
  <%= @manager.clinic_id %>
</p>

<p>
  <b>Login ID:</b>
  <%= @manager.login_id %>
</p>


<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
