<!-- Implemented by Fábio Silva - 29/11/2012 -->
<%= form_for(@wai) do |f| %>
<% if @wai.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@wai.errors.count, "error") %> prohibited this wai from being saved:</h2>

	<ul>
		<% @wai.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="span3 pull-left">
				<legend>
					Sessão
				</legend>
				<div class="well">
					<ul class="nav nav-list" style="float:none">
						<li>
							<a href="#"><i class="icon-chevron-right"></i> TMT</a>
						</li>
						<li>
							<a href="#"><i class="icon-chevron-right"></i> FTT</a>
						</li>
						<li class="active">
							<a href="#"><i class="icon-chevron-right"></i> Relógio</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="span9">
				<legend>
					WAIS III - Pesquisa de Simbolos / Código
				</legend>
				<div class="row-fluid">
					<div class="span8">
						<div>
							<%= f.label :phase, "Fase" %>
							<%= f.number_field :phase %>
						</div>
						<div>
							<%= f.label :spent_time, "Tempo Despendido" %>
							<%= f.time_select :spent_time %>
						</div>
						<div>
							<%= f.label :correct_items, "Itens Certos" %>
							<%= f.number_field :correct_items %>
						</div>
						<div>
							<%= f.label :wrong_items, "Itens Errados" %>
							<%= f.number_field :wrong_items %>
						</div>
						<div>
							<b>Observações:</b>
							<%= f.text_area :observations, :rows => 5, :class => "span12", :style => "resize:vertical;"%>
						</div>
					</div>
					<div class="span4 pull-right">
						<center>
							<h1>120<label>seconds</label></h1>
							<p>
								<button type="button" class="btn btn-success">
									Iniciar
								</button>
								<button type="button" class="btn btn-danger">
									Parar
								</button>
								<button type="button" class="btn btn-info">
									Reiniciar
								</button>
							</p>
						</center>
					</div>
				</div>
				<div class="actions">
					<%= f.submit :Terminar ,:class => "btn btn-success span2 pull-right"%>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
