
<div class="row-fluid">

<div class="span3">
	<div class="well">
		<ul class="nav nav-list" style="float:none">
			<% Dir['app/assets/images/swfs_images/*'].map { |filename| filename %>
				<li>
					<a href="#<%=File.basename(filename)%>">
						<i class="icon-chevron-right"></i>
						<%=File.basename(filename)%>
					</a>
				</li>
			<% } %>
		</ul>
	</div>
</div>

<div class="span9" style="top:-20px; position:relative;">
	<% Dir['app/assets/images/swfs_images/*'].map { |xfilename| %>
		<a class="anchor" name="<%=File.basename(xfilename)%>">
			<h1 style="padding-top: 80px; margin-top: -80px;"></h1>
		</a>
		<legend><%=File.basename(xfilename)%></legend>
		<ul>
			<% Dir["app/assets/images/swfs_images/#{File.basename(xfilename)}/*.jpg"].each_with_index.map { |filename,i| %>
			<li style="width:225px; height:150px; position:relative; margin-bottom:20px; margin-right:20px; float:left; list-style-type:none;">
				<%= link_to(image_tag("swfs_images/#{File.basename(xfilename)}/#{File.basename(filename)}", :style => "width: 225px; height: 150px;", :title => File.basename(filename,".jpg")), stimulation_path(:id => @patient.id, :xid => File.basename(filename,".jpg"))) %>
			</li>
		<% } %>
		</ul>
	<% } %>
</div>

</div>	

