<!-- Updated by Fábio Silva - 05/01/2013 -->
<%= form_for(@patient) do |f| %>
<% if @patient.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

	<ul>
		<% @patient.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2">
			<legend>
				<h2><%= @patient.name %></h2>
			</legend>
			<!-- Patient Data Image -->
			<div class="row-fluid">
				<!-- Patient Data -->
				<div class="span8">
					<div class="row-fluid">
						<div class="span3">
							<b>Morada</b>
						</div>
						<div class="span9">
							<%= @patient.address %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<b>BI</b>
						</div>
						<div class="span9">
							<%= @patient.identification_code %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<b>Sexo</b>
						</div>
						<div class="span9">
							<%= @patient.gender.description %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<b>Idade</b>
						</div>
						<div class="span9">
							<%= ((DateTime.now - @patient.date_of_birth).to_int) / 365 %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<b>Telefone</b>
						</div>
						<div class="span9">
							<%= @patient.telephone %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<b>Telemóvel</b>
						</div>
						<div class="span9">
							<%= @patient.mobilephone %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<b>Email</b>
						</div>
						<div class="span9">
							<%= @patient.login.email %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<b>Estado civil</b>
						</div>
						<div class="span9">
							<%= @patient.civil_status.description %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<b>Lateralidadde</b>
						</div>
						<div class="span9">
							<%= @patient.handedness.description %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<b>Escolaridade</b>
						</div>
						<div class="span9">
							<%= @patient.education %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<b>Profissão</b>
						</div>
						<div class="span9">
							<%= @patient.profession%>
						</div>
					</div>
				</div>
				<!-- Patient Image -->
				<div class="span4 pull-right" style = "margin-top: 20px;">
					<%= image_tag @patient.photo.url %>
					<%= link_to 'Editar', edit_patient_path(@patient), :class => "btn btn-warning pull-right span12", :style => "margin-top:10px;" %>
				</div>
			</div>
			</br>
			<!-- Patient Historial Data -->
			<%if current_login.has_role? :neuropsychologist %>
			<div class="row-fluid">
				<legend>
					Historial Clínico
				</legend>
				<div>
					<p align="justify">
						<% if  @patient.clinical_histories.first.nil? %>
						Historial Clínico Inexistente
						<% else %>
						<%= @patient.clinical_histories.first.description %>
						<% end %>
					</p>
				</div>
			</div>
			<%end%>
			</br>
			<!-- Patient Sessions List -->
			<div class="row-fluid">
				<div class="span12">
					<legend>
						Sessões Agendadas
					</legend>
					<table id="appointments" class="table table-hover table-condensed">
						<!-- 						class="table table-hover table-condensed" -->
						<thead>
							<tr>
								<th>Data</th>
								<th>Hora</th>
								<%if current_login.has_role? :secretary or current_login.has_role? :patient %>
								<th>Neuropsicólogo</th>
								<%end%>
								<th>Tipo</th>
								<%if current_login.has_role? :secretary or current_login.has_role? :neuropsychologist %>
								<th>Opções</th>
								<%end%>
							</tr>
						</thead>
						<tbody>
							<% @patient.appointments.each do |appointment| %>
							<tr onmouseover="this.style.cursor ='pointer'">
								<td><%= appointment.appointment_day.strftime('%a,%d de %b de %Y') %></td>
								<td><%= appointment.appointment_day.strftime('%H:%M') %></td>
								<%if current_login.has_role? :secretary or current_login.has_role? :patient %>
								<td><%= appointment.neuropsychologist.name%></td>
								<%end%>
								<td><%= appointment.appointment_type.name %></td>
								<td> <%if current_login.has_role? :neuropsychologist %>

								<% if appointment.appointment_type.name == 'Avaliacao' %>
								<% appoitment_plan = AppointmentPlan.where(:appointment_id => appointment.id )  %>
								<% if appoitment_plan.first.nil? %>
								<%= link_to "Criar Plano", :controller => "appointment_plans", :action => "new" , :appID => appointment.id %>
								<% else %>
								<%= link_to "Visualizar Plano", :controller => "appointment_plans", :action => "show", :id => appointment.id %>
								<% end %>
								<% else %>
								--
								<% end  %>
								<%end%> </td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
