<!-- start: CSS -->
<%= stylesheet_link_tag 'css/bootstrap.css' %>
<%= stylesheet_link_tag 'css/bootstrap-responsive.css' %>
<%= stylesheet_link_tag 'css/style.css' %>
<%= stylesheet_link_tag 'css/parallax-slider.css' %>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
<!-- end: CSS -->

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--[if IE 9]>
<link href="css/styleie9.css" rel="stylesheet">
<![endif]-->

</head>
<body>
	<!-- start: Slider -->
	<div class="slider-wrapper">

		<div id="da-slider" class="da-slider">
			<div class="da-slide">
				<h2>Avaliações</h2>
				<p>
					Faça as avalições aos seus pacientes utilizando a plataforma. Crie automáticamente relatórios e aceda ao histórico de cada paciente.
				</p>
				<div class="da-img"><img src="img/parallax-slider/css3.png" alt="image04" />
				</div>
			</div>
			<div class="da-slide">
				<h2>Livre-se da papelada</h2>
				<p>
					Diga adeus ao papel. Opte por arquivar a informação em formato digital.
				</p>
				<!--<a href="#" class="da-link">Read more</a>-->
				<div class="da-img"><img src="img/parallax-slider/html5.png" alt="image03" />
				</div>
			</div>
			<div class="da-slide">
				<h2>Exercite o seu cérebro</h2>
				<p>
					Estimule a sua atividade intelectual. Todos os nossos exercícios são certificados.
				</p>

				<div class="da-img"><img src="img/parallax-slider/twitter.png" alt="image01" />
				</div>
			</div>
			<div class="da-slide">
				<h2>Compatível com Tablets</h2>
				<p>
					Perfeitamente adaptado às novas tendências tecnológicas. Aceda comodamente através do seu smartphone ou tablet.
				</p>
				<div class="da-img"><img src="img/parallax-slider/responsive.png" alt="image02" />
				</div>
			</div>

			<nav class="da-arrows">
				<span class="da-arrows-prev"></span>
				<span class="da-arrows-next"></span>
			</nav>
		</div>

	</div>
	<!-- end: Slider -->

	<!--start: Wrapper-->
	<div id="wrapper">

		<!--start: Container -->
		<div class="container">

			<hr>

			<!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
			<div class="hero-unit">
				<h3> NeuroPump é uma plataforma web especialmente desenvolvida para especialistas de neuropsicologia. Torna possível gerir, de forma prática e simples, os seus pacientes desde o primeiro momento. Com a informação centralizada num só lugar, esta ferramenta torna mais fácil e eficaz o acompanhamento de cada paciente da sua clínica. </h3>
				<!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
			</div>
			<!-- end: Hero Unit -->

			<hr>

			<!-- start: Row -->
			<div class="row">

				<!-- start: Icon Boxes -->
				<div class="icons-box-vert-container">

					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-ok ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Fácil de usar</h3>
								<p>
									Prático, intuitivo e rápida adaptação.
								</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box-->

					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-cup  ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Nº 1 em Avaliações</h3>
								<p>
									Somos o primeiro software especializado em avaliações neuropsicológicas.
								</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box -->

					<!-- start: Icon Box Start -->
					<div class="span4">
						<div class="icons-box-vert">
							<i class="ico-ipad ico-white circle-color-full"></i>
							<div class="icons-box-vert-info">
								<h3>Totalmente flexivel</h3>
								<p>
									Adaptado ao seu computador, tablet ou smartphone.
								</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box -->

				</div>
				<!-- end: Icon Boxes -->
				<div class="clear"></div>
			</div>
			<!-- end: Row -->

			<hr>

			<!-- start: Row -->
			<div class="row">

				<div class="span9">

					<div class="title">
						<h3>Como funciona?</h3>
					</div>

					<!-- start: Row -->
					<div class="row" data-autorotate="3000">

						<div class="span3">

							<div class="picture">
								<a href="img/clinic2.jpg" rel="image" title="Registe a sua clínica"> <img src="img/clinic2.jpg" class="img-polaroid"> <div class="image-overlay-zoom" style="padding: 0px 5px;"></div> </a>
							</div>
							<div class="item-description">
								<h4><a href="#">Registe a sua clínica</a></h4>
								<p>
									Faça o registo da sua clínica em menos de 1 minuto!
								</p>
							</div>

						</div>

						<div class="span3">

							<div class="picture">
								<a href="img/pricing.png" rel="image" title="Subscreva um plano mensal"> <img src="img/pricing.png" class="img-polaroid"> <div class="image-overlay-zoom" style="padding: 0px 5px;"></div> </a>
							</div>
							<div class="item-description">
								<h4><a href="#">Subscreva um plano mensal</a></h4>
								<p>
									Escolha o plano que mais se adapta à sua clínica.
								</p>
							</div>

						</div>

						<div class="span3">

							<div class="picture">
								<a href="img/jogos.png" rel="image" title="Pronto para utilizar!"> <img src="img/jogos.png" class="img-polaroid"> <div class="image-overlay-zoom" style="padding: 0px 5px;"></div> </a>
							</div>
							<div class="item-description">
								<h4><a href="#">Pronto para utilizar!</a></h4>
								<p>
									Não precisa de qualquer instalação. Aceda comodamente através do browser.
								</p>
							</div>

						</div>

					</div>
					<!-- end: Row -->

				</div>

				<div class="span3">

					<!-- start: Testimonials-->

					<div class="testimonial-container">

						<div class="title">
							<h3>A nossa missão</h3>
						</div>

						<div class="testimonials-carousel" data-autorotate="3000">

							<ul class="carousel">

								<li class="testimonial">
									<div class="testimonials">
										A plataforma NeuroPump tem por missão dar uma nova e melhor resposta às necessidades inerentes à prática médica de Neuropsicologia.
									</div>
									<!--<div class="testimonials-bg"></div>
									<div class="testimonials-author">
									NeuroPump
									</div>-->
								</li>

								<li class="testimonial">
									<div class="testimonials">
										Realize testes de avaliação através da plataforma e crie os seus próprios relatórios automáticamente. Rentabilize o seu tempo.
									</div>
									<!--<div class="testimonials-bg"></div>
									<div class="testimonials-author">
									Lucas Luck, <span>CTO</span>
									</div>-->
							</ul>

						</div>

					</div>

					<!-- end: Testimonials-->

				</div>

			</div>
			<!-- end: Row -->

			<hr>

			<!-- start Clients List -->
			<div class="clients-carousel">

				<ul class="slides clients">
					<li><img src="img/logos/1.png" alt=""/>
					</li>
					<li><img src="img/logos/2.png" alt=""/>
					</li>
					<li><img src="img/logos/3.png" alt=""/>
					</li>
					<li><img src="img/logos/4.png" alt=""/>
					</li>
					<li><img src="img/logos/5.png" alt=""/>
					</li>
					<li><img src="img/logos/6.png" alt=""/>
					</li>
					<li><img src="img/logos/7.png" alt=""/>
					</li>
					<li><img src="img/logos/8.png" alt=""/>
					</li>
					<li><img src="img/logos/9.png" alt=""/>
					</li>
					<li><img src="img/logos/10.png" alt=""/>
					</li>
					<li><img src="img/logos/1.png" alt=""/>
					</li>
					<li><img src="img/logos/2.png" alt=""/>
					</li>
					<li><img src="img/logos/3.png" alt=""/>
					</li>
					<li><img src="img/logos/4.png" alt=""/>
					</li>
					<li><img src="img/logos/5.png" alt=""/>
					</li>
					<li><img src="img/logos/6.png" alt=""/>
					</li>
					<li><img src="img/logos/7.png" alt=""/>
					</li>
					<li><img src="img/logos/8.png" alt=""/>
					</li>
					<li><img src="img/logos/9.png" alt=""/>
					</li>
					<li><img src="img/logos/10.png" alt=""/>
					</li>
				</ul>

			</div>
			<!-- end Clients List -->

			<hr>

		</div>
		<!--end: Container-->

	</div>
	<!-- end: Wrapper  -->

	<!-- start: Footer Menu -->
	<div id="footer-menu" class="hidden-tablet hidden-phone">

		<!-- start: Container -->
		<div class="container">

			<!-- start: Row -->
			<div class="row">

				<!-- start: Footer Menu Logo -->
				<div class="span3">
					<div id="footer-menu-logo">
						<div>
							<img style="margin-bottom: 20px;" src="img/logo.png" alt="NeuroPump" width="100px" height="80px">
						</div>
						<a class="brand" href="#"></a>
					</div>
				</div>
				<!-- end: Footer Menu Logo -->

				<!-- start: Footer Menu Links-->
				<div class="span8"></div>
				<!-- end: Footer Menu Links-->

				<!-- start: Footer Menu Back To Top -->
				<div class="span1">

					<div id="footer-menu-back-to-top">
						<a href="#"></a>
					</div>

				</div>
				<!-- end: Footer Menu Back To Top -->

			</div>
			<!-- end: Row -->

		</div>
		<!-- end: Container  -->

	</div>
	<!-- end: Footer Menu -->

	<!-- start: Footer
	<div id="footer">

	<!-- start: Container -->
	<div class="container">

		<!-- start: Row -->
		<div class="row">

			<!-- start: About -->
			<div class="span3">

				<h3>Sobre nós</h3>
				<p align="justify">
					NeuroPump é uma plataforma desenvolvida para ajudar os neuropsicologos no seu trabalho. Foi criada para economizar tempo e recursos, através da automatização dos processos que a neuropsicologia exige.
				</p>

			</div>
			<!-- end: About -->
			<div class="span2"></div>
			<div class="span4">

				<!-- start: Follow Us -->
				<h3>Siga-nos!</h3>
				<ul class="social-grid">
					<li>
						<div class="social-item">
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-facebook">
										<a href="http://www.facebook.com/NeuroPump"></a>
									</div>
									<div class="social-info-back social-facebook-hover">
										<a href="http://www.facebook.com/NeuroPump"></a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="social-item">
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-tumblr">
										<a href="http://neuropump.tumblr.com/"></a>
									</div>
									<div class="social-info-back social-tumblr-hover">
										<a href="http://neuropump.tumblr.com/"></a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="social-item">
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-vimeo">
										<a href="http://player.vimeo.com/video/55020917"></a>
									</div>
									<div class="social-info-back social-vimeo-hover">
										<a href="http://player.vimeo.com/video/55020917"></a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<!-- end: Follow Us -->

				<!-- start: Newsletter -->
				<!--form id="newsletter">
				<h3>Newsletter</h3>
				<p>
				Deixe aqui o seu email
				</p>
				<label for="newsletter_input">@:</label>
				<input type="text" id="newsletter_input"/>
				<input type="submit" id="newsletter_submit" value="Submeter">
				</form-->
				<!-- end: Newsletter -->

			</div>

		</div>
		<!-- end: Row -->

	</div>
	<!-- end: Container  -->

	</div>
	<!-- end: Footer -->

	<!-- start: Java Script -->
	<!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag 'js/jquery-1.8.2.js' %>
	<%= javascript_include_tag 'js/bootstrap.js' %>
	<%= javascript_include_tag 'js/isotope.js' %>
	<%= javascript_include_tag 'js/jquery.imagesloaded.js' %>
	<%= javascript_include_tag 'js/flexslider.js' %>
	<%= javascript_include_tag 'js/carousel.js' %>
	<%= javascript_include_tag 'js/jquery.cslider.js' %>
	<%= javascript_include_tag 'js/slider.js' %>
	<%= javascript_include_tag 'js/fancybox.js' %>
	<%= javascript_include_tag 'js/custom.js' %>
	<!-- end: Java Script -->

	<!-- Modal -->
	<div id="myModal" class="modal hide fade" style="tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	×
	</button>
	<h3 id="myModalLabel">Autenticação</h3>
	</div>
	<div class="modal-body" style="font-size: 12px; line-height: 20px;">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div class="span5">
	<%= f.input :email, :autofocus => true, :style => "width: 100%",  :input_html => { :style => 'width: 97%!important;'}   %>
	</div>
	<div class="span5">
	<%= f.input :password,  :input_html => { :class => 'span12', :style => 'width: 97%!important;'}   %>
	</div>
	<!--div>
	<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
	</div-->
	<div class="span5">
		<%= f.button :submit, "Login", :class => 'btn-primary pull-right', :style => "margin-top: 10px;" %>
	</div>
	<% end %>
	
	<div class="span5">
		<%= render "devise/shared/links" %>
	</div>
	</div>
	</div>

