<%= form_for(@clock) do |f| %>
  <% if @clock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clock.errors.count, "error") %> prohibited this clock from being saved:</h2>

      <ul>
      <% @clock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :screen_result %><br />
    <%= f.number_field :screen_result %>
  </div>
  <div class="field">
    <%= f.label :number_seq_result %><br />
    <%= f.number_field :number_seq_result %>
  </div>
  <div class="field">
    <%= f.label :pointers_loc_result %><br />
    <%= f.number_field :pointers_loc_result %>
  </div>
  <div class="field">
    <%= f.label :observations %><br />
    <%= f.text_area :observations %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
