<p id="notice"><%= notice %></p>

<p>
  <b>Test phase:</b>
  <%= @ftt.test_phase %>
</p>

<p>
  <b>First:</b>
  <%= @ftt.first %>
</p>

<p>
  <b>Second:</b>
  <%= @ftt.second %>
</p>

<p>
  <b>Third:</b>
  <%= @ftt.third %>
</p>

<p>
  <b>Fourth:</b>
  <%= @ftt.fourth %>
</p>

<p>
  <b>Fifth:</b>
  <%= @ftt.fifth %>
</p>

<p>
  <b>Sixth:</b>
  <%= @ftt.sixth %>
</p>

<p>
  <b>Seventh:</b>
  <%= @ftt.seventh %>
</p>

<p>
  <b>Eighth:</b>
  <%= @ftt.eighth %>
</p>

<p>
  <b>Ninth:</b>
  <%= @ftt.ninth %>
</p>

<p>
  <b>Tenth:</b>
  <%= @ftt.tenth %>
</p>

<p>
  <b>Observations:</b>
  <%= @ftt.observations %>
</p>


<%= link_to 'Edit', edit_ftt_path(@ftt) %> |
<%= link_to 'Back', ftts_path %>
