<table id="payments" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Clínica</th>
                    <th>Valor</th>
                    <th>Data de Emissão</th>
                    <th>Data de Limite</th>
                    <th>Data de Pagamento</th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>
            <% @payments.each do |payment| %>
                    <td><%= link_to payment.clinic.name, payment%></td>
                    <td>€<%= payment.value %></td>
                    <td><%= payment.creation_date.strftime("%d-%m-%Y") %></td>
                    <td><%= payment.due_date.strftime("%d-%m-%Y") %></td>
                    <td><%= payment.payment_date.strftime("%d-%m-%Y") %></td>
                    <td><% if payment.payed = true %>
                            <%= "Pago" %>
                         <% elsif payment.payed = false %>
                            <%= "Nao Pago" %>
                        <%end%>   
                    </td>
                </tr>
            <% end %>
            </tbody>
</table>