<script type="text/javascript" src="https://www.google.com/jsapi"></script>
   <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart2);
      function drawChart2() {
        var subscriptionsData = google.visualization.arrayToDataTable(
          <%=
            @packagesArray.to_s.html_safe
          %>
        );
        
        var subscriptionsOptions = {
          title: 'Packages Subscritos',
          hAxis: {title: 'Tipo de Package'},
          vAxis: {title: 'Quantidade', minValue: 0},
          'chartArea':{width:"50%"}
        };

        var subscriptionsChart = new google.visualization.ColumnChart(document.getElementById('chart_div_subscriptions'));
        subscriptionsChart.draw(subscriptionsData, subscriptionsOptions);
        
        
        /* Monthlt Income Graph */
        var revenueData = google.visualization.arrayToDataTable(
          <%=
            @revenueArray.to_s.html_safe
          %>
        );
        
        var revenueOptions = {
          title: 'Ganhos Mensais',
          hAxis: {title: 'Mês'},
          vAxis: {title: 'Valor (euros)', minValue: 0},
          'chartArea':{width:"50%"}
        };

        var revenueChart = new google.visualization.LineChart(document.getElementById('chart_div_revenue'));
        revenueChart.draw(revenueData, revenueOptions);
        
        
        /* Number of Patients/Secretaries/Neuropsychologists Graph */
        var resourcesData = google.visualization.arrayToDataTable([
          ['', 'Pacientes', 'Neuropsicólogos', 'Secretários'],
          ['', <%= Patient.count %>, <%= Neuropsychologist.count %>, <%= Secretary.count %>]
        ]);
        
        var resourcesOptions = {
          title: 'Utilizadores',
          hAxis: {title: 'Mês'},
          vAxis: {title: 'Tipo de Utilizador', minValue: 0},
          'chartArea':{width:"50%"}
        };

        var resourcesChart = new google.visualization.ColumnChart(document.getElementById('chart_div_resources'));
        resourcesChart.draw(resourcesData, resourcesOptions);
    }
     
    </script>
    

  <div class="container row-fluid">

    <div class="row-fluid">
        <div class="span6" id="chart_div_subscriptions" style="height: 500px;">
        </div>
        
        <div class="span6" id="chart_div_resources" style="height: 500px;">
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span6" id="chart_div_revenue" style="height: 500px;">
        </div>
    </div>

  </div>