<h1>Listing clinical_histories</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Patient ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clinical_histories.each do |clinical_history| %>
  <tr>
    <td><%= clinical_history.description %></td>
    <td><%= clinical_history.patient_id %></td>
    <td><%= link_to 'Show', clinical_history %></td>
    <td><%= link_to 'Edit', edit_clinical_history_path(clinical_history) %></td>
    <td><%= link_to 'Destroy', clinical_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clinical history', new_clinical_history_path %>
