<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1">
			<div>
				<legend>
					Secretários da Clínica
				</legend>
				<% unless @secretaries.blank? %>
				<table id="secretaries" class="table table-hover table-bordered table-striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Email</th>
							<th>Telemóvel</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody>
						<%  @secretaries.each do |secretary|  %>
						<tr onmouseover="this.style.cursor ='pointer'" onclick="location.href='<%= secretary_url(secretary) %>'">
							<td><%= secretary.name %></td>
							<td><%= secretary.login.email %></td>
							<td><%= secretary.mobilephone %></td>
							<td> <% if secretary.active == true  %>
								<p class="text-success">
									Ativo
								</p> <%else%>
								<p class="text-error">
									Inativo
								</p> <%end%> 
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<% else %>
				Não existem secretários no sistema.
				<% end %>
				<br>
				<%= link_to 'Convidar Secretário', {:controller => "secretaries", :action => "invite" },:class => "btn btn-primary pull-right" %>
			</div>
		</div>
	</div>
</div>