<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2" style="padding: 40px;padding-top: 20px;-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);-moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);box-shadow: 0 2px 10px rgba(0, 0, 0, .25);background-color: white;">
			<div>
				<legend>
					Secretários da Clínica
				</legend>
				<% unless @secretaries.blank? %>
				<table id="secretary" class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Email</th>
							<th>Telemóvel</th>
						</tr>
					</thead>
					<tbody>
						<%  @secretaries.each do |secretary|  %>
						<tr onmouseover="this.style.cursor ='pointer'" onclick="location.href='<%= secretary_url(secretary) %>'">
							<td><%= secretary.name %></td>
							<td><%= secretary.login.email %></td>
							<td><%= secretary.mobilephone %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<% else %>
				Não existem secretários no sistema.
				<% end %>
				<%= link_to 'Convidar Secretário', {:controller => "secretaries", :action => "invite" },:class => "btn btn-primary pull-right" %>
			</div>
		</div>
	</div>
</div>