<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1">
			<legend><h2 class="h2-title"><%= @secretary.name %></h2></legend>

			<div class="row-fluid">
				<div class="span4">
					<div class="span12" style="margin: 12px; margin-left: 0px; margin-right: 0px; border: 1px solid #c4cde0; background: #e7ebf2; border-bottom-width: 2px; -webkit-border-radius: 3px; padding: 15px 25px; min-height:193px;">
						<div class="span12">
							<div style="width: 15px; height: 16px; background-image: url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/4GxErz9TbmS.png); background-size: auto; background-repeat: no-repeat; display: inline-block; background-position: -294px -327px"></div> <b>&nbsp;&nbsp;&nbsp;Dados Pessoais</b>
						</div>
						<div class="span5" style="font-size: 12px; margin-left: 0px;">
							<b>BI:</b>
						</div>
						<div class="span6" style="font-size: 11px;">
							<%= @secretary.identification_code %>
						</div>
						<div class="span5" style="font-size: 12px; margin-left: 0px;">
							<b>Sexo:</b>
						</div>
						<div class="span6" style="font-size: 11px;">
							<%= @secretary.gender.description %>
						</div>
						<div class="span5" style="font-size: 12px; margin-left: 0px;">
							<b>Nascido em:</b>
						</div>
						<div class="span6" style="font-size: 11px;">
							<%= @secretary.date_of_birth %>
						</div>
						<div class="span5" style="font-size: 12px; margin-left: 0px;">
							<b>Morada:</b>
						</div>
						<div class="span6" style="font-size: 11px;">
							<%= @secretary.address %>
						</div>
					</div>
				</div>

			<div class="span4 pull-right" style = "margin-top: 12px;">
				<%= image_tag @secretary.photo.url %>
				<!-- <button type="button" class="btn-success" style="width:100%; margin-top:10px;" >Editar Perfil</button>
				<button type="button" class="btn-danger" style="width:100%; margin-top:10px;">Remover Perfil</button> -->
				<%= link_to "Editar", edit_secretary_path(@secretary), :method => "get", :class => "btn btn-warning pull-right span12", :style => "margin-top:10px;"%>

				<% if @secretary.login.deleted_at == nil %>
					<%if !current_login.has_role? :secretary%>
					<%= link_to "Desativar", @secretary, :method => :delete, :confirm => "Tem a certeza?",  :class => "btn btn-danger pull-right span12", :style => "margin-top:10px;" %>
					<%end%>
				<%else%>
					<%= link_to "Ativar", @secretary, :method => :delete, :confirm => "Tem a certeza?",  :class => "btn btn-success pull-right span12", :style => "margin-top:10px;" %>
				<%end%>
			</div>



		
			<div class="span4">
				<!--<div class="row-fluid">-->
					<div class="span12" style="margin: 12px; margin-left: 0px; margin-right: 0px; border: 1px solid #c4cde0; background: #e7ebf2; border-bottom-width: 2px; -webkit-border-radius: 3px; padding: 15px 25px; min-height:193px;">
						<div class="span12">
							<div style="width: 15px; height: 16px; background-image: url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/4GxErz9TbmS.png); background-size: auto; background-repeat: no-repeat; display: inline-block; background-position: -34px -400px;"></div> 
							<b>&nbsp;&nbsp;&nbsp;Contactos</b>
						</div>
						<div class="span5" style="font-size: 12px; margin-left: 0px;">
							<b>Telefone:</b>
						</div>
						<div class="span6" style="font-size: 11px;">
							<% if @secretary.telephone.to_str.blank?  %>
							Sem contacto
							<% else %>
							<%= @secretary.telephone %>
							<% end %>
						</div>
				
						<div class="span5" style="font-size: 12px; margin-left: 0px;">
							<b>Telemóvel:</b>
						</div>
						<div class="span6" style="font-size: 11px;">
							<% if @secretary.mobilephone.to_str.blank?  %>
							Sem contacto
							<% else %>
							<%= @secretary.mobilephone %>
							<% end %>
						</div>
						<div class="span5" style="font-size: 12px; margin-left: 0px;">
							<b>Email:</b>
						</div>
						<div class="span6" style="font-size: 11px;">
							<%= @secretary.login.email %>
						</div>
					</div>
				</div>
			</div>


			</div>








		</div>
	</div>
	<div class="span3"></div>
</div>