<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2" style="padding: 40px;padding-right:80px;padding-top: 20px;-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);-moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);box-shadow: 0 2px 10px rgba(0, 0, 0, .25);background-color: white;">
			<div class="span4 pull-right">
				<%= image_tag @secretary.photo.url %>
				<!-- <button type="button" class="btn-success" style="width:100%; margin-top:10px;" >Editar Perfil</button>
				<button type="button" class="btn-danger" style="width:100%; margin-top:10px;">Remover Perfil</button> -->
				<%= button_to "Editar Perfil", edit_secretary_path(@secretary), :method => "get", :class => 'btn btn-success span12',:style => " margin-top:10px;" %>
				<%= button_to "Remover Perfil", @secretary, :method => :delete, :class => 'btn btn-danger span12' %>
			</div>
			<div class="span8">

				<p id="notice">
					<%= notice %>
				</p>

				<h3 style="margin-bottom: 30px;"><%= @secretary.name %></h3>
				<div class="row-fluid">
					<div class="span3">
						<b>BI</b>
					</div>
					<div class="span9">
						<%= @secretary.identification_code %>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span3">
						<b>Morada</b>
					</div>
					<div class="span9">
						<%= @secretary.address %>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span3">
						<b>Sexo</b>
					</div>
					<div class="span9">
						<%= @secretary.gender.description %>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span3">
						<b>Data de Nascimento</b>
					</div>
					<div class="span9">
						<%= @secretary.date_of_birth %>
					</div>
				</div>
				<br/>
				<div class="row-fluid">
					<div class="span3">
						<b>Telefone</b>
					</div>
					<div class="span9">
						<%= @secretary.telephone %>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span3">
						<b>Telemóvel</b>
					</div>
					<div class="span9">
						<%= @secretary.mobilephone %>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span3">
						<b>Email</b>
					</div>
					<div class="span9">
						<%= @secretary.login.email %>
					</div>
				</div>
				<br/>
			</div>

		</div>
	</div>
	<div class="span3"></div>
</div>

<!--
<p id="notice"><%= notice %></p>

<p>
<b>Name:</b>
<%= @secretary.name %>
</p>

<p>
<b>Address:</b>
<%= @secretary.address %>
</p>

<p>
<b>Telephone:</b>
<%= @secretary.telephone %>
</p>

<p>
<b>Mobilephone:</b>
<%= @secretary.mobilephone %>
</p>

<p>
<b>Photo:</b>
<%= @secretary.photo %>
</p>

<p>
<b>Date of birth:</b>
<%= @secretary.date_of_birth %>
</p>

<p>
<b>Identification code:</b>
<%= @secretary.identification_code %>
</p>

<p>
<b>Active:</b>
<%= @secretary.active %>
</p>

<p>
<b>Gender ID:</b>
<%= @secretary.gender_id %>
</p>

<p>
<b>Clinic ID:</b>
<%= @secretary.clinic_id %>
</p>

<p>
<b>Login ID:</b>
<%= @secretary.login_id %>
</p>

<%= link_to 'Edit', edit_secretary_path(@secretary) %> |
<%= link_to 'Back', secretaries_path %> -->