<p id="notice">
	<%= notice %>
</p>

<div class="container">

	<div class="row-fluid">
		<div class="span10 offset1">

			<b>Paciente: </b><%= @appointment.patient.name %> </br> </br>

			<b>Neuropsicólogo: </b> <%= @appointment.neuropsychologist.name %>  </br> </br>

			<!-- <b>Historial Clínico do paciente:</b>
			<p>
			<% if  @appointment.patient.clinical_histories.first.nil? %>
			Historial Clínico Inexistente
			<% else %>
			<%= @appointment.patient.clinical_histories.first.description %>
			<% end %>
			</p> -->

			<legend>
				Lista de testes do Plano
			</legend>
			<table id="appointment_plan" class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<% @appointment_plans.each do |app_test| %>
					<tr onmouseover="this.style.cursor ='normal'">
						<td><%= app_test.evaluation_test.name%></td>
						<td><%= app_test.evaluation_test.description %></td>
					</tr>
					<% end %>
				</tbody>
			</table>

			<div class="span12 row-fluid" style="margin-top:10px;">

				<%= link_to 'Apagar Plano', appointment_plan_path(@appointment), :method => :delete, :confirm => "Tem a certeza?", :class => "btn btn-danger pull-right" , :style =>"margin-left: 10px;"%>
				
				<%if @appointment.appointment_plans.count == 0%>
					<%= link_to "Criar Plano", {:controller => "appointment_plans", :action => "new" , :appID => @appointment.id} , :class => "btn btn-primary pull-right", :style =>"margin-left: 10px;"%>
				<%else%>
					<%= link_to "Editar Plano", {:controller => "appointment_plans", :action => "new" , :appID => @appointment.id} , :class => "btn btn-primary pull-right", :style =>"margin-left: 10px;"%>
				<%end%>
				
				<% if @appointment.appointment_day < DateTime.now &&  (@appointment.appointment_day + @appointment.duration*60)  > DateTime.now && @appointment.appointment_type.name == "Avaliacao"  %>
					<%= link_to 'Iniciar Avaliação',  {:controller => "appointment_plans", :action => "index" , :appID => @appointment.id}  , :class => "btn btn-success pull-right" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
