<h1>Listing handednesses</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @handednesses.each do |handedness| %>
  <tr>
    <td><%= handedness.description %></td>
    <td><%= link_to 'Show', handedness %></td>
    <td><%= link_to 'Edit', edit_handedness_path(handedness) %></td>
    <td><%= link_to 'Destroy', handedness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Handedness', new_handedness_path %>
