<!-- Implemented by Fábio Silva - 29/11/2012 -->
<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2" style="padding: 40px;padding-top: 20px;-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);-moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);box-shadow: 0 2px 10px rgba(0, 0, 0, .25);background-color: white;">
			<div>
				<legend>
					Neuropsicólogos(as) da Clínica
				</legend>
				<table id="neuropsychologist" class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Email</th>
							<th>Telemóvel</th>
						</tr>
					</thead>
					<tbody>
						<% @neuropsychologists.each do |neuropsychologist| %>
						<tr onclick="location.href='<%= neuropsychologist_url(neuropsychologist) %>'">
							<td><%= neuropsychologist.name %></td>
							<td><%= neuropsychologist.login.email %></td>
							<td><%= neuropsychologist.mobilephone %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to 'Novo Neuropsicólogo',{:controller => "neuropsychologists", :action => "invite" }, :class => "btn btn-primary pull-right" %>
			</div>
		</div>
	</div>
	<div class="span3"></div>
</div>

<!-- Scaffolding -->
<!-- <table>
<tr>
<th>Name</th>
<th>Address</th>
<th>Telephone</th>
<th>Mobilephone</th>
<th>Photo</th>
<th>Date of birth</th>
<th>Identification code</th>
<th>Active</th>
<th>Gender ID</th>
<th>Clinic ID</th>
<th>Login ID</th>
<th></th>
<th></th>
<th></th>
</tr>

<% @neuropsychologists.each do |neuropsychologist| %>
<tr>
<td><%= neuropsychologist.name %></td>
<td><%= neuropsychologist.address %></td>
<td><%= neuropsychologist.telephone %></td>
<td><%= neuropsychologist.mobilephone %></td>
<td><%= neuropsychologist.photo %></td>
<td><%= neuropsychologist.date_of_birth %></td>
<td><%= neuropsychologist.identification_code %></td>
<td><%= neuropsychologist.active %></td>
<td><%= neuropsychologist.gender_id %></td>
<td><%= neuropsychologist.clinic_id %></td>
<td><%= neuropsychologist.login_id %></td>
<td><%= link_to 'Show', neuropsychologist %></td>
<td><%= link_to 'Edit', edit_neuropsychologist_path(neuropsychologist) %></td>
<td><%= link_to 'Destroy', neuropsychologist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Neuropsychologist', new_neuropsychologist_path %> -->
