<!-- Implemented by Fábio Silva - 29/11/2012 -->
<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1">
			<div>
				<legend>
					<h2 class="h2-title">Neuropsicólogos da Clínica</h2>
				</legend>
				<table id="neuropsychologists" class="table table-hover table-condensed table-striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Email</th>
							<th>Telemóvel</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody>
						<% @neuropsychologists.each do |neuropsychologist| %>
						<tr onmouseover="this.style.cursor ='pointer'" onclick="location.href='<%= neuropsychologist_url(neuropsychologist) %>'">
							<td style="color: #0088CC"><%= neuropsychologist.name %></td>
							<td><%= neuropsychologist.login.email %></td>
							<td><%= neuropsychologist.mobilephone %></td>
							<td>
								<% if neuropsychologist.login.deleted_at == nil  %>
									<p class="text-success">Ativo</p>
								<%else%>
									<p class="text-error">Inativo</p>
								<%end%>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<br>
				<%= link_to 'Convidar Neuropsicólogo',{:controller => "neuropsychologists", :action => "invite" }, :class => "btn btn-primary pull-right" %>
			</div>
		</div>
	</div>
	<div class="span3"></div>
</div>

<!-- Scaffolding -->
<!-- <table>
<tr>
<th>Name</th>
<th>Address</th>
<th>Telephone</th>
<th>Mobilephone</th>
<th>Photo</th>
<th>Date of birth</th>
<th>Identification code</th>
<th>Gender ID</th>
<th>Clinic ID</th>
<th>Login ID</th>
<th></th>
<th></th>
<th></th>
</tr>

<% @neuropsychologists.each do |neuropsychologist| %>
<tr>
<td><%= neuropsychologist.name %></td>
<td><%= neuropsychologist.address %></td>
<td><%= neuropsychologist.telephone %></td>
<td><%= neuropsychologist.mobilephone %></td>
<td><%= neuropsychologist.photo %></td>
<td><%= neuropsychologist.date_of_birth %></td>
<td><%= neuropsychologist.identification_code %></td>
<td><%= neuropsychologist.gender_id %></td>
<td><%= neuropsychologist.clinic_id %></td>
<td><%= neuropsychologist.login_id %></td>
<td><%= link_to 'Show', neuropsychologist %></td>
<td><%= link_to 'Edit', edit_neuropsychologist_path(neuropsychologist) %></td>
<td><%= link_to 'Destroy', neuropsychologist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Neuropsychologist', new_neuropsychologist_path %> -->
