<li class="<%= highlight(administrators_path) %>" >
	<%= link_to "Home", administrators_path %>
</li>
<li class="<%= highlight(payments_path) %>">
	<%= link_to('Pagamentos', payments_path)  %>
</li>
<li class="<%= highlight(clinics_path) %>">
	<%= link_to('Clínicas', clinics_path)  %>
</li>

<ul class="nav pull-right">
	<li id="fat-menu" class="dropdown">
		<a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
			<li>
				<%= link_to "Alterar Password", edit_login_registration_path %>
			</li>
			<li class="divider"></li>

			<li>
				<%= link_to('Logout', destroy_login_session_path, :method=>'delete') %>
			</li>
<!-- 			<li class="divider"></li>
			<li>
				<%= link_to "Help",    '#' %>
			</li> -->
		</ul>
	</li>
</ul>
