<% manager = Manager.first(:conditions => "login_id = #{current_login.id}") %>
<li class="<%= highlight(managers_path) %>">
	<%= link_to "Home", managers_path %>
</li >
<li class="<%= highlight(clinic_path(manager.clinic)) %>">
	<%= link_to('Clínica', clinic_path(manager.clinic))  %>
</li>
<li class="<%= highlight(secretaries_path) %>">
	<%= link_to('Secretários', secretaries_path)  %>
</li>
<li class="<%= highlight(neuropsychologists_path) %>"> 
	<%= link_to('Neuropsicólogos', neuropsychologists_path)  %>
</li>
