<% secretary = Secretary.first(:conditions => "login_id = #{current_login.id}") %>
<li>
	<%= link_to "Estimulação", "#" %>
</li>
<ul class="nav pull-right">
	<li id="fat-menu" class="dropdown">
		<a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
			<li>
				<%= link_to "Editar Clinica" ,edit_clinic_path(manager.clinic) %>
			</li>
			<li>
				<%= link_to "Alterar Password", edit_login_registration_path %>
			</li>
			<li class="divider"></li>

			<li>
				<%= link_to('Logout', destroy_login_session_path, :method=>'delete') %>
			</li>
<!-- 			<li class="divider"></li>
			<li>
				<%= link_to "Help",    '#' %>
			</li> -->
		</ul>
	</li>
</ul>